@model ClinicSakurso.Models.Patient

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <link href="~/Content/css/theme.css" rel="stylesheet" media="all">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>კლინიკა</title>
</head>
<body class="animsition" style="background:#e2e0e0;">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <header class="header-desktop" style="margin-right:20%;">
        <div class="section__content section__content--p35">
            <div class="container-fluid">
                <div class="header-wrap">
                    @Html.ActionLink("ექიმი", "Index", "Home")
                    @Html.ActionLink("პაციენტი", "Patients", "Home")
                    @Html.ActionLink("განყოფილება", "Department", "Home")
                    @Html.ActionLink("ოთახი", "Room", "Home")
                </div>
            </div>
        </div>
    </header>
    <br />
    <br />
    <br />
    <div class="main-content">
        <div class="section__content section__content--p30" style="margin-left:15%;margin-top:-5%; ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10">
                        @using (Html.BeginForm("AddPatient", "Home", FormMethod.Post, new { Class = "col-lg-12" }))
                        {
                        <label style="text-align:center; color:green;">@ViewBag.Msg</label>
                            <div class="card">
                                <div class="card-header">პაციენტის დამატება</div>
                                <div class="card-body card-block col-lg-12">
                                    <div class="col-lg-12">
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="text-input" class=" form-control-label">სახელი:</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                @Html.EditorFor(m => m.First_Name, new { htmlAttributes = new { @class = "form-control", Type = "text" } })
                                                @Html.ValidationMessageFor(model => model.First_Name, "", new { Class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">გვარი:</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                @Html.EditorFor(m => m.Last_Name, new { htmlAttributes = new { @class = "form-control", Type = "text" } })
                                                @Html.ValidationMessageFor(model => model.Last_Name, "", new { Class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">დაბ.თარიღი:</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                @Html.EditorFor(m => m.Birth_Date, new { htmlAttributes = new { @class = "datepicker", Type = "date" } })
                                                @Html.ValidationMessageFor(model => model.Birth_Date, "", new { Class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="disabled-input" class=" form-control-label">პირადი ნომერი:</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                @Html.EditorFor(m => m.Personal_No, new { htmlAttributes = new { @class = "form-control", Type = "text" } })
                                                @Html.ValidationMessageFor(model => model.Personal_No, "", new { Class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="disabled-input" class=" form-control-label">მობილური:</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                @Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-control", Type = "text" } })
                                                @Html.ValidationMessageFor(model => model.Phone, "", new { Class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="select" class=" form-control-label">ექიმი:</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                @Html.DropDownList("Doctor", new SelectList(ClinicSakurso.Controllers.HomeController.DoctorNames), "აირჩიეთ", new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessage("ChooseDoctor", new { Class = "text-danger" })
                                                @Html.ValidationMessageFor(model => model.Doctor, "", new { Class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">მიღების თარიღი:</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                @Html.EditorFor(m => m.Appointment_Date, new { htmlAttributes = new { @class = "datepicker", Type = "date" } })
                                                @Html.ValidationMessageFor(model => model.Appointment_Date, "", new { Class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="select" class=" form-control-label">დრო:</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                @Html.DropDownList("Appointment_Time", new SelectList(ClinicSakurso.Controllers.HomeController.AppTime), "აირჩიეთ", new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessage("ChooseTime", new { Class = "text-danger" })
                                                @Html.ValidationMessageFor(model => model.Appointment_Time, "", new { Class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-plus-circle"></i> დამატება
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/vendor/jquery-3.2.1.min.js"></script>
    <script src="~/Content/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/Content/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <script src="~/Content/vendor/slick/slick.min.js"></script>
    <script src="~/Content/vendor/wow/wow.min.js"></script>
    <script src="~/Content/vendor/animsition/animsition.min.js"></script>
    <script src="~/Content/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/Content/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Content/vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="~/Content/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/Content/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Content/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/Content/vendor/select2/select2.min.js"></script>
    <script src="~/Content/js/main.js"></script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>